@font-face {
   font-family: 'Proxima Nova Light';
   src: url('../fonts/ProximaNova-Light.eot');
   src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
   url('../fonts/ProximaNova-Light.woff') format('woff'),
   url('../fonts/ProximaNova-Light.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   }

.wrapper {
   width: 100%;
   max-width: 1550px;
   max-height: 289px;
   background: rgb(255, 255, 255);
   font-size: 0px;
   padding-top: 10%;
}


.services {
   width: 100%;
   max-width: 940px;
   height: 169px;
   margin: 0 auto;
   text-align: center;
   padding-top: 57px;
   
}

.info-blocks {
   width: 33.33%;
   height: 169px;
   display: inline-block;
}

.header {
   width: 148px;
   height: 24px;
   font-family: "Proxima Nova Light";
   font-weight: bold;
   font-size: 14px;
   line-height: 24px;
   margin: 10px auto;
}

.text-blocks {
   width: 250px;
   height: 52px;
   font-family: "Proxima Nova Light";
   font-size: 14px;
   line-height: 20px;
   letter-spacing: 0.35px;
   margin: 0 auto;
   color: #9D9D9D;
}

.picture-blocks {
   width: 66px;
   height: 66px;
   margin: 0 auto;
   font-size: 18px;
}

i:hover {
   color: #2a69a6;
   background-color: rgb(255, 255, 255);
   border: 1px solid #2a69a6;
}

i {
   color: rgb(255, 255, 255);
   font-size: 24px;
   background-color: #2a69a6;
   padding: 20px;
   border-radius: 50%;
}