@font-face {
	font-family: 'Pacifico-Regular';
	src: url('../fonts/Pacifico-Regular/fonts/Pacifico-Regular.eot');
	src: local('☺'), url('../fonts/Pacifico-Regular/fonts/Pacifico-Regular.woff') format('woff'), url('../fonts/Pacifico-Regular/fonts/Pacifico-Regular.ttf') format('truetype'), url('../fonts/Pacifico-Regular/fonts/Pacifico-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway-Light';
	src: url('../fonts/Raleway-Light/fonts/Raleway-Light.eot');
	src: local('☺'), url('../fonts/Raleway-Light/fonts/Raleway-Light.woff') format('woff'), url('../fonts/Raleway-Light/fonts/Raleway-Light.ttf') format('truetype'), url('../fonts/Raleway-Light/fonts/Raleway-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway-Bold';
	src: url('../fonts/Raleway-Bold/fonts/Raleway-Bold.eot');
	src: local('☺'), url('../fonts/Raleway-Bold/fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold/fonts/Raleway-Bold.ttf') format('truetype'), url('../fonts/Raleway-Bold/fonts/Raleway-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway-Black';
	src: url('../fonts/Raleway-Black/fonts/Raleway-Black.eot');
	src: local('☺'), url('../fonts/Raleway-Black/fonts/Raleway-Black.woff') format('woff'), url('../fonts/Raleway-Black/fonts/Raleway-Black.ttf') format('truetype'), url('../fonts/Raleway-Black/fonts/Raleway-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.contact__container {
   max-width: 1500px;
	max-height: 866px;
	height: 100vh;
	background-image: url(../img/bg_contact.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact__content {
	max-width: 990px;
	max-height: 650px;
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.contact__title {
	font-family: Raleway;
	font-size: 90px;
	line-height: 25px;
	font-weight: 700;
	color: #262626;
}
.contact__descr {
	font-family: Raleway;
	font-size: 17px;
	line-height: 25px;
	font-weight: 300;
	color: #262626;
}
.contact__main {
	max-width: 990px;
	max-height: 450px;
	height: 69.2vh;
	display: flex;
	justify-content: space-between;

}
.contact__form {
	max-width: 500px;
	max-height: 500px;
	height: 77vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.form__name {
}
.form__email {
}
.form__phone {
}
.form__button {
}
.contact__info {
	max-width: 320px;
	max-height: 160px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.contact__address {
}

.address,
.email,
.phone {
	font-size: 20px;
	font-weight: 300;	
}
.contact__email {
}


.contact__phone {
}
.address-title,
.email-title,
.phone-title {
	font-family: Raleway;
	font-size: 17px;
	line-height: 25px;
	font-weight: 700;
	color: #262626;
}

.footer__container {
}
.footer__content {
}
.footer__copy {
}
.footer__logo {
}
.footer__link {
}
.author-link {
}