@import "zerostyle.scss";

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  //background-image: url("../img/bgHeaderMuar2.png");
  width: 1600px;
  height: 800px;
  background-color: #4b4b4b;
  background-image: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
}

.gallery {
  width: 1600px;
  height: 1000px;
  background-color: #4b4b4b;
}

.footer {
  width: 1600px;
  height: 1143px;
  background-color: #4b4b4b;
  background-image: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
}
