  
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato/Lato-Regular.eot');
  src: local('Lato Regular'), local('Lato-Regular'),
      url('../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato/Lato-Regular.woff') format('woff'),
      url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato/Lato-Bold.eot');
  src: local('Lato Bold'), local('Lato-Bold'),
      url('../fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato/Lato-Bold.woff') format('woff'),
      url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Light';
  src: url('../fonts/Lato/Lato-Light.eot');
  src: local('Lato Light'), local('Lato-Light'),
      url('../fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato/Lato-Light.woff') format('woff'),
      url('../fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

  .home__container {
    max-width: 1920px;
    max-height: 1072px;
    height: 100vh;
    margin: 0 auto;
    background-image: url(../img/bg_home.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home__content {
    height: 47.3vh;
    max-width: 620px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .home__logo {
    max-width: 65px;
    max-height: 65px;
    fill: #fff;
    margin: 0 auto;
  }
  .home__title {
    max-width: 620px;
    max-height: 110px;
    font-family: "Lato-Bold";
    font-size: 54px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    color: #fff;
    text-align: center;
  }
  .home__descr {
    max-width: 600px;
    max-height: 75px;
    font-family: "Lato-Regular";
    font-size: 15px;
    line-height: 29px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #fff;
    text-align: center;
  }
  .mouse {
    position: absolute;
    left: 50%;
    bottom: 12vh;
  }
  .mouse-icon {
    width: 22px;
    height: 37px;
    fill: #fff;
  }
  .about__container {
    max-width: 1920px;
    max-height: 632px;
    height: 69vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about__content {
    max-width: 905px;
    max-height: 316px;
    height: 39.5vh;
    border: 3px solid #000;
  }
  .about__title {
    max-width: 420px;
    max-height: 100px;
    height: 9.3vh;
    font-family: "Lato-Bold";
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    color: #3c3c3c;
    position: relative;
    top: -30px;
    padding: 10px 96px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
  }
  .about__descr {
    font-family: "Lato-Light";
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #3c3c3c;
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }
  .services__container {
    max-width: 1920px;
    max-height: 488px;
    height: 55.5vh;
    background-image: url("../img/bg_services.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .services__content {
    max-width: 905px;
    max-height: 330px;
    height: 39.5vh;
    border: 3px solid #fff;
    border-top: none;
  }
  .services__title {
    /* max-width: 420px;  */
    width: 100%;
    max-height: 100px;
    height: 9.3vh;
    font-family: "Lato-Bold";
    font-size: 33px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    color: #fff;
    position: relative;
    top: -33px;
    padding: 10px 100px;
    margin: 0 auto;
    text-align: center;
    /* overflow: hidden; */
  }
  .services__title:before  {
    display: block;
    width: calc((100% - 400px)/2);
    content: '';
    position: absolute;
    border-bottom: 3px solid #fff;
    top: 50%;
    left: 0px;
  }
  .services__title:after {
    display: block;
    width: calc((100% - 390px)/2);
    content: '';
    position: absolute;
    border-bottom: 3px solid #fff;
    top: 50%;
    right: 0px;
  }
  .services__descr {
    width:60%;
    font-family: "Lato-Light";
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    color: #fff;
    margin: 0 auto;
  }
  .services__descr p {
    text-align: center;
  }
  .what-we-do__container {
    max-width: 1920px;
    max-height: 1415px;
    height: 182vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .what-we-do__content {
    width: 100%;
    max-width: 905px;
    max-height: 1180px;
    height: 165vh;
    border: 3px solid #000;
    /* border-top: none; */
    
  }
  .item__icon {
    width: 84px;
    height: 84px;
    display: flex;
    justify-content: center;
    
  }
  .icon {
    width: 82px;
    height: 82px;
    margin: 0 auto;
  }
  .what-we-do__title {
    max-width: 420px;
    max-height: 100px;
    height: 9.3vh;
    position: relative;
    font-family: "Lato-Bold";
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    color: #3c3c3c;
    top: -30px;
    padding: 10px 60px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
  }

  /* .what-we-do__title:before  {
    display: block;
    width: calc((100% - 418px)/2);
    content: '';
    position: absolute;
    border-bottom: 3px solid #000;
    top: 50%;
    left: 0px;
}
  .what-we-do__title:after {
    display: block;
    width: calc((100% - 418px)/2);
    content: '';
    position: absolute;
    border-bottom: 3px solid #000;
    top: 50%;
    right: 0px; 
  }*/
  .what-we-do__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .what-we-do__item {
    max-width: 550px;
    max-height: 350px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vh;
  }
  .item__title {
    font-family: "Lato-Bold";
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    color: #3c3c3c;
    text-align: center;
  }
  .item__descr {
    font-family: Lato;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color: #3c3c3c;
    text-align: center;
  }
  .panels__container {
    max-width: 1920px;
    max-height: 490px;
    width: 99vw;
    height: 48vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .panel__content {
    max-width: 545px;
    max-height: 237px;
    width: 26vw;
    height: 23vh;
    position: relative;
    flex-grow: 2;
    margin: 0 4px;
  }
  .panel__img1,
  .panel__img2,
  .panel__img3,
  .panel__img4,
  .panel__img5,
  .panel__img6 {
    width:100%;
    height: 100%;
  }
  .panel__content-center {
    max-width: 795px;
    max-height: 237px;  
    width: 40vw;
    height: 23vh;
    position: relative;
    flex-grow: 3;
    margin: 0 3px
  }

  .panel__title {
    font-family: "Lato-Bold";
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    color: #ffffff;
    position: absolute;
    left: 44px;
    bottom: 42px;
  }
  .contact__container {
    max-width: 1920px;
    max-height:540px;
    height: 54vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact__content {
    max-width: 905px;
    max-height: 400px;
    height: 40vh;
    border: 3px solid #000;
    /* border-top: none; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
  }
  .contact__title {
    max-width: 420px;
    max-height: 100px;
    height: 9.3vh;
    font-family: "Lato-Bold";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    color: #3c3c3c;
    position: relative;
    top: -40px;
    padding: 10px 90px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
  }
/*
  .contact__title:before  {
    display: block;
    width: calc((100% - 418px)/2);
    content: '';
    position: absolute;
    border-bottom: 3px solid #000;
    top: 50%;
    left: 0px;
}
  .contact__title:after {
    display: block;
    width: calc((100% - 418px)/2);
    content: '';
    position: absolute;
    border-bottom: 3px solid #000;
    top: 50%;
    right: 0px;
  } */
  .contact__descr {
    font-family: "Lato-Light";
    width: 60%;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    color: #3c3c3c;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -30px;
  }
  .contact_btn {
    width: 395px;
    height: 58px;
    background-color: #3c3c3c;
    border: 2px solid #3c3c3c;
    font-family: "Lato-Regular";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    color: #fff;
    margin: 0 auto;
    position: relative;
    top: -30px;
  }
  .footer__container {
    max-width: 1920px;
    max-height: 160px;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .footer__content {
    width: 320px;
    max-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__logo {
    width: 35px;
    height: 37px; 
  }
  .footer__copy {
    font-family: "Lato-Regular";
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #3c3c3c;
  }
  .panel__img1 {
    background-image: url(../img/work1.jpg);
    background-size: cover;
  }
  .panel__img2 {
    background-image: url(../img/work2.jpg);
    background-size: cover;
  }
  .panel__img3 {
    background-image: url(../img/work3.jpg);
    background-size: cover;
  }
  .panel__img4 {
    background-image: url(../img/work4.jpg);
    background-size: cover;
  }
  .panel__img5 {
    background-image: url(../img/work5.jpg);
    background-size: cover;
  }
  .panel__img6 {
    background-image: url(../img/work6.jpg);
    background-size: cover;
  }

