@charset "UTF-8";
/*Обнуление стилей*/
@import url("https://fonts.googleapis.com/css2?family=Aleo:ital@1&family=Josefin+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------------------------------------------------*/
body {
  width: 100%;
  height: 100%;
  /* margin: auto; */
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1800px;
  max-height: 4271px;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff;
  padding: 15px;
  margin: 0 auto;
  /* overflow: hidden; */
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.home {
  max-width: 1770px;
  max-height: 820px;
  width: 100%;
  height: 100%;
  /* min-height: 100vh; */
  background-image: url("../img/bg_home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  /* padding-top: 32.3%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.home .content {
  height: 100%;
  max-width: 1130px;
  padding: 0 10px;
  width: 62.7%;
  margin: 0 auto;
  min-width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.home .logo {
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.home .title {
  font-family: "Josefin Sans", sans-serif;
  /* font-size: 48px; */
  font-size: calc(28px + 20 * ((100vw - 320px) / (1800 - 320)));
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.home .slogan {
  font-family: "Josefin Sans", sans-serif;
  /* font-size: 22px; */
  font-size: calc(16px + 6 * ((100vw - 320px) / (1800 - 320)));
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.23em;
  color: #ffffff;
}
.home .search-bar {
  max-width: 650px;
  max-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-top: 6vh;
  margin-bottom: 15vh;
}
.home .search-bar__input #search {
  width: 100%;
  height: 100%;
  max-width: 500px;
  min-width: 290px;
  max-height: 60px;
  background-color: #ffffff;
  padding: 4.8% 10%;
}
.home .search-bar__input #search::-webkit-input-placeholder {
  display: inline-block;
  width: 100%;
  max-width: 250px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #999999;
  margin: 0 20px;
}
.home .search-bar__input #search::-moz-placeholder {
  display: inline-block;
  width: 100%;
  max-width: 250px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #999999;
  margin: 0 20px;
}
.home .search-bar__input #search:-ms-input-placeholder {
  display: inline-block;
  width: 100%;
  max-width: 250px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #999999;
  margin: 0 20px;
}
.home .search-bar__input #search::placeholder {
  display: inline-block;
  width: 100%;
  max-width: 250px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #999999;
  margin: 0 20px;
}
.home .search-bar__btn {
  height: 100%;
  max-width: 150px;
  max-height: 60px;
  padding: 2% 10%;
  background-color: #5474fd;
  border: 2px solid #ffffff;
  font-family: "Aleo", serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.home .search-bar__btn p {
  padding: 0 15px;
}
.home .search-bar__btn i {
  max-width: 20px;
  max-height: 20px;
}
.home .search-bar__btn__btn:hover {
  background-color: #00008b;
}
.home .search-bar button:hover,
.home .search-bar button:focus {
  background-color: #00008b;
}
.home .scroll-down:hover,
.home .scroll-down:focus {
  color: #00008b;
}
.home .link-down:hover,
.home .link-down:focus {
  color: #00008b;
}
.home .scroll__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: #ffffff;
}
.home .scroll__text:hover, .home .scroll__text:focus {
  color: #00008b;
}
.home .scroll__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.home .scroll__arrow i {
  width: 15px;
  height: 8px;
  color: #fff;
  margin-top: 5%;
}
.home .scroll__arrow i:hover, .home .scroll__arrow i:focus {
  color: #00008b;
}

.header {
  width: 100%;
  height: 100%;
  max-width: 1770px;
  max-height: 80px;
  background-color: #5474fd;
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .header__content {
  width: 100%;
  max-width: 1130px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .header__content .title {
  font-family: "Josefin Sans", sans-serif;
  /* font-size: 24px; */
  font-size: calc(18px + 6 * ((100vw - 320px) / (1800 - 320)));
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.menu {
  width: 100%;
  height: 100%;
  max-width: 525px;
  max-height: 12px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu__item {
  font-family: "Aleo", serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.menu a {
  color: #ffffff;
}
.menu a:hover,
.menu a:focus {
  color: #00008b;
  font-weight: 700;
}

.why-choose-us {
  width: 100%;
  height: 100%;
  max-width: 1770px;
  max-height: 685px;
  background-image: url("../img/bg_why_choose_us.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.why-choose-us .content {
  width: 100%;
  max-width: 1130px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info {
  width: 100%;
  height: 100%;
  max-width: 560px;
  padding: 0 10px;
  max-height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 8%;
}
.info__title {
  font-family: "Aleo", serif;
  /* font-size: 36px; */
  font-size: calc(24px + 12 * ((100vw - 320px) / (1800 - 320)));
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}
.info__text {
  font-family: "Josefin Sans", sans-serif;
  /* font-size: 16px; */
  font-size: calc(12px + 4 * ((100vw - 320px) / (1800 - 320)));
  /* line-height: 26px; */
  line-height: calc(16px + 12 * ((100vw - 320px) / (1800 - 320)));
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  margin-top: 8%;
  margin-bottom: 6%;
}
.info__btn {
  width: 100%;
  height: 100%;
  max-width: 225px;
  max-height: 60px;
  /* background-color: #5474fd; */
  background-image: url("../img/bg_button.jpg");
  background-position: 0 0;
  background-size: cover;
  color: #ffffff;
  font-family: "Aleo", serif;
  /* font-size: 16px; */
  font-size: calc(12px + 4 * ((100vw - 320px) / (1800 - 320)));
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-style: normal;
  letter-spacing: normal;
  padding: 24px 38px;
}
.info__btn:hover, .info__btn:focus {
  color: #00008b;
}

.pictures {
  width: 42.8%;
  max-width: 495px;
  padding: 0 10px;
  max-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.pictures .pictures__item {
  max-width: 350px;
  max-height: 220px;
}
.pictures .pictures__item:last-child {
  margin-top: 2%;
  margin-left: 26%;
}
.pictures img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.how-it-works {
  width: 100%;
  height: 100%;
  max-width: 1770px;
  max-height: 337px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.how-it-works .content {
  width: 100%;
  height: 100%;
  max-width: 1130px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.road-map {
  width: 100%;
  height: 70%;
  max-width: 980px;
  padding-top: 5%;
  position: relative;
  background-image: url("../img/elipse_line.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 65%;
}
.road-map__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.road-map__item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.road-map__item:hover, .road-map__item:focus {
  color: #00008b;
}
.road-map__img {
  /* max-width: 62px;
  max-height: 62px; */
  /* border-radius: 50%; */
  background-color: #333333;
}
.road-map__title {
  color: #e8e8e8;
  font-family: "Aleo", serif;
  /* font-size: 36px; */
  font-size: calc(24px + 12 * ((100vw - 320px) / (1800 - 320)));
  font-weight: 400;
  margin-top: 15%;
}
.road-map__title:hover, .road-map__title:focus {
  color: #00008b;
}
.road-map .road__line {
  width: 70%;
  position: absolute;
  left: 10%;
  top: -30%;
}

.slide1,
.slide2 {
  width: 100%;
  height: 100%;
  max-width: 1770px;
  max-height: 700px;
  position: relative;
}
.slide1 img,
.slide2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.modal1 {
  position: absolute;
  max-width: 540px;
  max-height: 371px;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  background-color: #232323;
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
  padding: 50px 30px;
  top: 33%;
  left: 15%;
}

.modal2 {
  position: absolute;
  max-width: 540px;
  max-height: 371px;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  background-color: #232323;
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
  padding: 50px 30px;
  top: 33%;
  right: 15%;
}

.modal1:target {
  display: block;
  pointer-events: auto;
}

.modal2:target {
  display: block;
  pointer-events: auto;
}

.country {
  font-family: "JosefinSans", sans-serif;
  /* font-size: 20px; */
  font-size: calc(14px + 6 * ((100vw - 320px) / (1800 - 320)));
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.075em;
  color: #e8e8e8;
  margin-bottom: 3vh;
}

.modal1 .title,
.modal2 .title {
  font-family: "JosefinSans", sans-serif;
  /* font-size: 20px; */
  font-size: calc(14px + 6 * ((100vw - 320px) / (1800 - 320)));
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 3vh;
}

.text {
  font-family: "JosefinSans", sans-serif;
  /* font-size: 16px; */
  font-size: calc(12px + 4 * ((100vw - 320px) / (1800 - 320)));
  line-height: 26px;
  font-weight: 400;
  color: #e8e8e8;
  margin-bottom: 7vh;
}

.modal1 .btn {
  width: 100%;
  height: 100%;
}

.close-modal {
  width: 100%;
  height: 100%;
  max-width: 225px;
  max-height: 60px;
  background-image: url("../img/bg_button.jpg");
  background-position: 0 0;
  background-size: cover;
  color: #ffffff;
  font-family: "Aleo", serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-style: normal;
  letter-spacing: normal;
  padding: 24px 38px;
}

.close-modal:hover,
.close-modal:focus {
  color: #00008b;
}

.what-our-tourist-say {
  width: 100%;
  height: 100%;
  max-width: 1770px;
  max-height: 731px;
  background-image: url("../img/bg_what_our_tourist_say.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10% auto;
}
.what-our-tourist-say .content {
  width: 100%;
  height: 65%;
  max-width: 1130px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.what-our-tourist-say .content .title {
  font-family: "Aleo", serif;
  /* font-size: 36px; */
  font-size: calc(24px + 12 * ((100vw - 320px) / (1800 - 320)));
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 3%;
}

.testimonial {
  width: 100%;
  height: 100%;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.testimonial__img {
  width: 100%;
  height: 100%;
  max-width: 445px;
  max-height: 284px;
}
.testimonial__info {
  width: 100%;
  height: 100%;
  max-width: 665px;
  max-height: 284px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  padding: 3%;
  margin-bottom: 3vh;
}
.testimonial__name {
  max-width: 150px;
  max-height: 22px;
  color: #fefefe;
  font-family: "Josefin Sans", sans-serif;
  /* font-size: 20px; */
  font-size: calc(16px + 4 * ((100vw - 320px) / (1800 - 320)));
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  /* line-height: 26px; */
  text-align: left;
  text-transform: uppercase;
}
.testimonial__text {
  max-width: 551px;
  max-height: 136px;
  color: #e8e8e8;
  font-family: "Josefin Sans", sans-serif;
  /* font-size: 16px; */
  font-size: calc(12px + 4 * ((100vw - 320px) / (1800 - 320)));
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  /* line-height: 24px; */
  line-height: calc(16px + 8 * ((100vw - 320px) / (1800 - 320)));
  text-align: left;
  margin-bottom: 3vh;
}
.testimonial i {
  color: #5474fd;
  font-size: 16px;
  position: relative;
  top: -5%;
  float: left;
  margin-right: 2%;
}

.footer {
  width: 100%;
  height: 100%;
  max-width: 1770px;
  max-height: 268px;
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer .content {
  width: 80%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer .content .title {
  font-family: "Josefin Sans", sans-serif;
  /* font-size: 24px; */
  font-size: calc(16px + 8 * ((100vw - 320px) / (1800 - 320)));
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer .content .slogan {
  font-family: "Josefin Sans", sans-serif;
  /* font-size: 16px; */
  font-size: calc(12px + 4 * ((100vw - 320px) / (1800 - 320)));
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.social-nets {
  width: 100%;
}

.social__list {
  max-width: 170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social__item i {
  color: #e8e8e8;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}
.social__item i:hover,
.social__item i:focus {
  color: #00008b;
}
.social__item .blue {
  color: #5474fd;
}

.mobile-menu {
  position: relative;
  display: none;
}

.mobile-menu__btn {
  position: fixed;
  display: none;
  /*  display: flex; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* padding: 0 16px; */
  top: 7%;
  background-color: #00008b;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  right: 10%;
  width: 42px;
  height: 42px;
  z-index: 999999;
  border-radius: 20%;
}

.mobile-menu__icon {
  display: block;
  position: relative;
  background: #fff;
  width: 65%;
  height: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mobile-menu__icon:after, .mobile-menu__icon:before {
  content: " ";
  display: block;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mobile-menu__icon:after {
  top: 8px;
}

.mobile-menu__icon:before {
  top: -8px;
}

.mobile-menu__container {
  position: fixed;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 0;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
  background-color: #5474fd;
}

.mobile-menu__list {
  list-style: none;
  width: 33%;
  padding-left: 0;
  margin-top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 3;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.mobile-menu__item {
  /* font-size: 20px; */
  font-size: calc(16px + 4 * ((100vw - 320px) / (1800 - 320)));
  padding-bottom: 7vh;
}

.mobile-menu__link {
  text-decoration: none;
  color: #fff;
  font-family: "Aleo";
}

.mobile-menu__checkbox {
  display: none;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__container {
  height: 100%;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__list {
  position: fixed;
  top: 30%;
  left: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon:before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon:after {
  top: 0;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  height: 0px;
}

.mobile-menu__list > .mobile-menu__item:checked ~ .mobile-menu__container {
  display: none;
}

@media (max-width: 1050px) {
  .container {
    width: 920px;
  }

  .what-our-tourist-say .content {
    height: 100%;
    padding-top: 2vh;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .testimonial {
    height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .testimonial__img {
    max-height: 180px;
  }
  .testimonial__info {
    max-width: 445px;
    height: 300px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media (max-width: 890px) {
  .container {
    width: 630px;
  }

  .menu {
    display: none;
  }
  .menu .logo {
    margin: 0 auto;
  }

  .scroll-down {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .mobile-menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 590px) {
  .container {
    width: 290px;
  }

  .pictures {
    display: none;
  }

  .search-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }
  .search-bar__btn {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 3vh;
  }
}