@charset "UTF-8";
/*Обнуление стилей*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------------------------------------------------*/
.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1800px;
  max-height: 4271px;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff;
  padding: 15px;
  overflow: hidden;
}

.inner {
  width: 100%;
  height: 100%;
}

.home {
  max-width: 1770px;
  max-height: 820px;
  min-height: 100vh;
  background-image: url(../img/bg_home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.modal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
}

.modal:target {
  display: block;
  pointer-events: auto;
}

.close-modal {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  width: 24px;
  text-decoration: none;
}

.close-.modal {
  background: #00d9ff;
}