@charset "UTF-8";
/*Обнуление стилей*/
@import url("https://fonts.googleapis.com/css2?family=Aleo:ital@1&family=Josefin+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------------------------------------------------*/
body {
  width: 100%;
  height: 100%;
  /* margin: auto; */
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1800px;
  max-height: 4271px;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff;
  padding: 15px;
  margin: 0 auto;
  /* overflow: hidden; */
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.home {
  max-width: 1770px;
  max-height: 820px;
  width: 100%;
  height: 100%;
  /* min-height: 100vh; */
  background-image: url("../img/bg_home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  /* padding-top: 32.3%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .content {
  height: 100%;
  max-width: 1130px;
  padding: 0 10px;
  width: 62.7%;
  margin: 0 auto;
  min-width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .logo {
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home .title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.home .slogan {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.23em;
  color: #ffffff;
}
.home .search-bar {
  max-width: 650px;
  max-height: 60px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 6vh;
  margin-bottom: 15vh;
}
.home .search-bar__input #search {
  width: 100%;
  height: 100%;
  max-width: 500px;
  min-width: 290px;
  max-height: 60px;
  background-color: #ffffff;
  padding: 4.8% 10%;
}
.home .search-bar__input #search::placeholder {
  display: inline-block;
  width: 100%;
  max-width: 250px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #999999;
  margin: 0 20px;
}
.home .search-bar__btn {
  height: 100%;
  max-width: 150px;
  max-height: 60px;
  padding: 2% 10%;
  background-color: #5474fd;
  border: 2px solid #ffffff;
  font-family: "Aleo", serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .search-bar__btn p {
  padding: 0 15px;
}
.home .search-bar__btn i {
  max-width: 20px;
  max-height: 20px;
  /* 	margin-left: 4%; */
}
.home .scroll__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: #ffffff;
}
.home .scroll__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .scroll__arrow i {
  width: 15px;
  height: 8px;
  color: #fff;
  margin-top: 5%;
}

.header {
  width: 100%;
  height: 100%;
  max-width: 1770px;
  max-height: 80px;
  background-color: #5474fd;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}
.header .content {
  width: 100%;
  max-width: 1130px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .content .title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.menu {
  width: 100%;
  height: 100%;
  max-width: 525px;
  max-height: 12px;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  font-family: "Aleo", serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.menu a {
  color: #ffffff;
}

.why-choose-us {
  width: 100%;
  height: 100%;
  max-width: 1770px;
  max-height: 685px;
  background-image: url("../img/bg_why_choose_us.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-choose-us .content {
  width: 100%;
  max-width: 1130px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  width: 100%;
  height: 100%;
  max-width: 560px;
  padding: 0 10px;
  max-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 8%;
}
.info__title {
  font-family: "Aleo", serif;
  font-size: 36px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}
.info__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  margin-top: 8%;
  margin-bottom: 6%;
}
.info__btn {
  width: 100%;
  height: 100%;
  max-width: 225px;
  max-height: 60px;
  /* background-color: #5474fd; */
  background-image: url("../img/bg_button.jpg");
  background-position: 0 0;
  background-size: cover;
  color: #ffffff;
  font-family: "Aleo", serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-style: normal;
  letter-spacing: normal;
  padding: 24px 38px;
}

.pictures {
  width: 42.8%;
  max-width: 495px;
  padding: 0 10px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pictures .pictures__item {
  max-width: 350px;
  max-height: 220px;
}
.pictures .pictures__item:last-child {
  margin-top: 2%;
  margin-left: 26%;
}
.pictures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.how-it-works {
  width: 100%;
  height: 100%;
  max-width: 1770px;
  max-height: 337px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how-it-works .content {
  width: 100%;
  height: 100%;
  max-width: 1130px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.road-map {
  width: 100%;
  height: 70%;
  max-width: 980px;
  padding-top: 5%;
  position: relative;
  background-image: url("../img/elipse_line.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 65%;
}
.road-map__list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.road-map__item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.road-map__img {
  /* max-width: 62px;
  max-height: 62px; */
  border-radius: 50%;
  background-color: #333333;
}
.road-map__title {
  color: #e8e8e8;
  font-family: "Aleo", serif;
  font-size: 36px;
  font-weight: 400;
  margin-top: 15%;
}
.road-map .road__line {
  width: 70%;
  position: absolute;
  left: 10%;
  top: -30%;
}

.slide1,
.slide2 {
  width: 100%;
  height: 100%;
  max-width: 1770px;
  max-height: 700px;
  position: relative;
}
.slide1 img,
.slide2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal1 {
  position: absolute;
  max-width: 540px;
  max-height: 371px;
  opacity: 0.9;
  background-color: #232323;
  z-index: 99999;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
  padding: 50px 30px;
  top: 33%;
  left: 15%;
}

.modal2 {
  position: absolute;
  max-width: 540px;
  max-height: 371px;
  opacity: 0.9;
  background-color: #232323;
  z-index: 99999;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
  padding: 50px 30px;
  top: 33%;
  right: 15%;
}

.slide-top {
  top: 33%;
  left: 15%;
}

.slide-bottom {
  top: 33%;
  right: 15%;
}

.modal1:target {
  display: block;
  pointer-events: auto;
}

.modal2:target {
  display: block;
  pointer-events: auto;
}

.country {
  font-family: "JosefinSans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.075em;
  color: #e8e8e8;
  margin-bottom: 3vh;
}

.modal1 .title,
.modal2 .title {
  font-family: "JosefinSans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 3vh;
}

.text {
  font-family: "JosefinSans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #e8e8e8;
  margin-bottom: 7vh;
}

.modal1 .btn {
  width: 100%;
  height: 100%;
}

.close-modal {
  width: 100%;
  height: 100%;
  max-width: 225px;
  max-height: 60px;
  background-image: url("../img/bg_button.jpg");
  background-position: 0 0;
  background-size: cover;
  color: #ffffff;
  font-family: "Aleo", serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-style: normal;
  letter-spacing: normal;
  padding: 24px 38px;
}

.what-our-tourist-say {
  width: 100%;
  height: 100%;
  max-width: 1770px;
  max-height: 731px;
  background-image: url("../img/bg_what_our_tourist_say.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% auto;
}
.what-our-tourist-say .content {
  width: 100%;
  height: 65%;
  max-width: 1130px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.what-our-tourist-say .content .title {
  font-family: "Aleo", serif;
  font-size: 36px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 3%;
}

.testimonial {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial__img {
  max-width: 445px;
  max-height: 284px;
}
.testimonial__info {
  width: 100%;
  height: 100%;
  max-width: 665px;
  max-height: 284px;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 4%;
}
.testimonial__name {
  width: 150px;
  height: 22px;
  color: #fefefe;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
}
.testimonial__text {
  width: 551px;
  height: 136px;
  color: #e8e8e8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: left;
}
.testimonial i {
  color: #5474fd;
  font-size: 16px;
  position: relative;
  top: -5%;
  float: left;
  margin-right: 2%;
}

.footer {
  width: 100%;
  height: 100%;
  max-width: 1770px;
  max-height: 268px;
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .content {
  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer .content .title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer .content .slogan {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.social-nets {
  width: 100%;
}

.social__list {
  max-width: 170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social__item i {
  color: #e8e8e8;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}
.social__item .blue {
  color: #5474fd;
}