.wrapper {
    width: 830px;
    height: 1200;
    background-color: beige;
    margin: 0 auto;
}

header {
    height: 130px;
    padding: 20px;
    border-bottom: 2px solid brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 16px;
    color: blue;
}

