.wrapper {
   width: 951px;
   height: 566px;
   background-color: rgb(153,9,9);
   margin: auto;
   padding-left: 8px;
   }

header {
   height: 45px;
   padding-top: 12px;
   }

.site-name {
   text-align: center;
   }

main {
   height: 452px;
   }

.pictures {
   text-align: center;
   height: 159px;
   background-color: rgb(0,0,0);
   padding-top: 22px;
}

.figure {
   float: left;
   vertical-align: middle;
   
}

figcaption {
   color: rgb(255,255,255);
   font-size: 16px;
}

.last-figure {
   float: right;
}

.pictures img {
   height: 116px;
   width: 150px;
   margin-right: 42px;
   margin-left: 43px;
   padding-bottom: 5px;
}

.table {
   height: 296px;
   vertical-align: bottom;
}

nav,
aside,
article {
   /*display: inline-block;*/
   padding: 2px;
   margin: 1px;
   height: 292px;
}

nav {
   background-color: rgb(125,9,9);
   width: 200px;
}

a {
   color: rgb(235,84,14);
   font-size: 16px;
   text-decoration: underline;
}

.nav-menu {
   margin-bottom: 20px; 
}

article {
   color: rgb(255,255,255);
   width: 579px;
}

aside {
   background-color: rgb(227,221,221);
   width: 152px;
}

.aside-name {
   background-color: rgb(189,189,189);
   height: 17px;
   text-align: center;
   font-size: 16px;
   font-weight: 600;
}

.hr {
   width: 77px;
   text-align: center;
   color: rgb(162,162,162);
}

footer {
   height: 65px;
   padding-top: 20px;

}

.copyright {
   background-color: rgb(233,91,17);
   height: 20px;
   text-align: center;
   font-size: 20px;
   color: rgb(255,255,255);
}