
@font-face {
	font-family: 'Quicksand-Regular';
	src: url('../fonts/Quicksand-Regular/fonts/Quicksand-Regular.eot');
	src: local('☺'), url('../fonts/Quicksand-Regular/fonts/Quicksand-Regular.woff') format('woff'), url('../fonts/Quicksand-Regular/fonts/Quicksand-Regular.ttf') format('truetype'), url('../fonts/Quicksand-Regular/fonts/Quicksand-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand-Bold';
	src: url('../fonts/Quicksand-Bold/fonts/Quicksand-Bold.eot');
	src: local('☺'), url('../fonts/Quicksand-Bold/fonts/Quicksand-Bold.woff') format('woff'), url('../fonts/Quicksand-Bold/fonts/Quicksand-Bold.ttf') format('truetype'), url('../fonts/Quicksand-Bold/fonts/Quicksand-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}




body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 800px;
  height: 600px;
  background-image: url("../img/background.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-container {
  width: 400px;
  height: 496px;
  background-image: url("../img/bg_image.png");
  background-position: -67px -1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  width: 400px;
  height: 496px;
  background-color: #166a6a;
  background-image: linear-gradient(32.0deg, #3023ae 3%, #c86dd7 96%);
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-tabs {
  width: 65%;
  height: 80%;
  font-family: "Quicksand-Bold";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #fbf6e4;
 
}

.tab-title {
  display: inline-block; 
  cursor: pointer;
  position: relative;
  margin-right: 20px;
}
#tab-sign-in,
#tab-join-us {
  display: none;
}
.form-sign-in,
.form-join-us {
  display: none;
  
}
#tab-sign-in:checked + .tab-title {
  border-bottom: 2px solid #e66a64;
}
#tab-sign-in:checked ~ .form-sign-in {
  display: block; 
}
#tab-join-us:checked + .tab-title {
  border-bottom: 2px solid #e66a64;;
}
#tab-join-us:checked ~ .form-join-us {
  display: block; 
 
}
.form-join-us,
.form-sign-in {
  width: 270px;
  height: 360px;
  
}
.form-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}
.tab-sign-in__label,
.tab-join-us__label {
  font-family: "Quicksand-Bold";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #fbf6e4;
}
.tab-sign-in__input,
.tab-join-us__input {
  width: 260px;
  height: 42px;
  border: 3px solid rgba(191,185,204,0.53);
  background: none;
}


.tab-sign-in__button,
.tab-join-us__button {
  width: 261px;
  height: 42px;
  background-color: #23ae92;
}
.tab-sign-in__links {
  font-family: "Quicksand-Regular"
  ;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  color: #b9b9cc;
}
.link {
}
.link-forgot {
}
.link-create {
}

.tab-sign-in__checkbox ,
.tab-join-us__checkbox {
  font-family: "Quicksand-Regular";
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #fbf6e4;
}
#checkbox:checked {
  background-color: #23ae92;
}
button>span {
  font-family: "Quicksand-Bold";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #fbf6e4;
}