@import "zerostyle.scss";

.wrapper {
  width: 100%;
  height: 100%;
  background-color: darkgreen;
}

.text-center {
  text-align: center;
}

.color-white {
  color: #fff;
}

.box-container {
  align-items: center;
  display: flex;
 /*  flex-direction: column; */
  justify-content: space-around;
  padding: 35px 15px;
  width: 100%;
}

.box-item {
  position: relative;
  width: 700px;
  margin-bottom: 35px;
  max-width: 100%;
  max-height: 100%;
  padding: 3vh;
  border: 1px solid darkviolet;
}

.flip-box {
  transform-style: preserve-3d;
  perspective: 1000px;
}

/* .flip-box-front, */
.flip-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  min-width: 200px;
  min-height: 300px;
  transition: transform 0.7s linear;
  /* backface-visibility: hidden;  */
}

/* .flip-box-front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transform-origin: 100% 50%; 
}
 */
.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  transform-style: preserve-3d;
  perspective: 1000px;
 /*  transform: rotateY(-180deg);
  transform-style: preserve-3d;
} */
}
.flip-box-front {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
 /*  transform: rotateY(180deg);
  transform-style: preserve-3d; */
} 

 .flip-box-back:active {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transform-origin: 100% 50%; 
  /* transform: translate(100px, 0); */
  animation: openleft .8s ;
}

@keyframes openleft {
    from {left:0px;}
    to {left:100px;} 

}
/* .flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 60px;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
  
  transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 50%;
}

.flip-box-header {
  font-size: 34px;
}

.flip-box p {
  font-size: 20px;
  line-height: 1.5em;
}

.flip-box-img {
  margin-top: 25px;
}
 */
