.container {
  max-width: 1600px;
  max-height: 1400px;
  background-color: #e2e7ec;
  margin-top: 0;
  padding-top: 6.5%;
  padding-bottom: 14.92%;
  padding-left: 15%;
  padding-right: 15%;

}

.main-article {
  max-width: 740px;
  max-height: 540px;
}
.bg {  
  background-image: url(../img/top_left.jpg);
  background-image: url(../img/top_left_shadow.jpg);
 height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.bg {  
  
  background-image: url(../img/top_left_shadow.jpg);
 height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 opacity: 0.5;
}

img {
  max-width: 100%;
  height: auto;
}

.content {
  max-height: 540px;
  max-width: 360px;
  background-color: #ffffff;
}

.legend {
  height: 53.51%;
}