@import "zerostyle.scss";
@import "fonts.scss";

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1530px;
  padding: 0 15px;
}

.page{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  & .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/main_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 0 100%;
    
  }
}
.header {
  position: absolute;
  width: 80%;
  top: 10%;
  left: 10%;
  z-index: 10;
  & .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__menu {
  width: 50%;
}
.menu__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  & li {

  }
}
.menu__link {
  font-family: "Raleway-Bold";
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  color: #262626;
}
.header__logo {
  & span {
    font-family: "Pacifico-Regular";
    font-size: 50px;
    font-weight: 400;
    color: #262626;
  }
}
