.container {
   max-width: 1601px;
   min-width: 1000px;
   margin: auto;
   height: 803px;
   background-image: url("../img/bg.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-color: #cccccc;
}

.wrapper {
   width: 100%;
   height: auto;
   max-width: 1601px;
   min-width: 60vw;
   min-height: 100%;
   max-height: 803px;
   background-image: url("../img/mask.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding-top: 18px;
   display: inline-block;
   margin: 0 auto;
   overflow: hidden;
   position: relative;
   top:0px;
   left:0px;
}

.top {
   width: 95.6%;
   max-width: 1531px;
   height: 108px;
   margin: 0 auto;
   position: relative;
}

.logo {
   width: 316px;
   height: 108px; 
   position: absolute;
   left: 0px;
   top: 3px;
}

.logo-text {
   width: 88px;
   height: 40px;
   color: #ffffff;
   font-family: Roboto;
   font-size: 13px;
   font-weight: 300;
   text-transform: uppercase;
   position: absolute;
   top: 68px;
   left: 29px;
}

.menu {
   position: absolute;
   width: 600px;
   height: 32px;
   right: 160px;
   top: 19px;
   
}

li {
   display: inline-block;
   width: auto;
   height: 12px;
   color: #ecf0e8;
   font-family: "Roboto", serif;
   font-size: 17px;
   font-weight: 300;
   line-height: 35px;
   margin-right: 40px;
   padding-top: 2px;
   position: relative;
}

.lang {
   position: absolute;
   width: 32px;
   height: 32px;
   top: 22px;
   right: 132px;
   color: #ecf0e8;
   font-family: "Roboto", serif;
   font-size: 17px;
   font-weight: 300;
   padding: 6px;
   border: 1px solid #8dc63f;
}

.lang:hover {
   color: #000;
   background-color: #8dc63f;
}

.search {
   position: absolute;
   width: 36px;
   height: 36px;
   top: 32px;
   right: 40px;
}

.mouse {
   position: absolute;
   width: 25px;
   height: 38px;
   bottom: 45px;
   right: 50%;
   background: url("../img/mouse-black.png");
}

.mouse:hover {
   background: url("../img/mouse_white.png ");
}

/*li:hover {
   border-top: 2px  solid #8dc63f;
   padding-top: 0px;*/
li::before {
      content: " ";
      display: inline-block;
      width: 100%;
      height: 2px;
      position: absolute;
      margin-bottom: 10px;
      top: 4px;
      }
      
      li:hover::before {
      background-color: #8dc63f;
      animation-name: fall;
      animation-duration: 0.5s;
      }
      
      
   @keyframes fall {
      from {
         top: -15px;
      }
      
      to {
         top: 4px;
      }
   }


.content {
   max-width: 680px;
   height: 213px;
   border-left: 6px solid #8dc63f;
   margin: 0 auto;
   margin-top: 150px;
   padding-left: 30px;
   position: relative;
   /*top: 150px;
   left: 395px;*/
}

.leaf-block {
   padding: 1px;
   width: 146px;
   height: 26px;
   display: inline-block;
   margin-top: 0px;
   color: #ecf0e8;
   font-family: "Acrom", Arial, serif;
   font-size: 22px;
   font-weight: 300;
   left: 65px;
   top: 5px;
   
}

.arrow-left {
   position: absolute;
   top: 8px;
   left: 40px;
   width: 25px;
   height: 10px;
   display: inline-block;
}

.arrow-right {
   position: absolute;
   top: 8px;
   left: 147px;
   width: 25px;
   height: 10px;
   display: inline-block;
}

.page-numbers {
   height: 23px;
   width: 50px;
   font-family: "Acrom", Arial, serif;
   position: absolute;
   top:3px;
   left: 80px;
   display: inline-block;
}

.of {
   font-size: 14px;
   font-family: "Acrom", Arial, serif;
}

.active-page {
   color: #bed62f;
}

.title {
   width: 618px;
   height: 117px;
   margin-top: 45px;
   color: #ffffff;
   font-family: "Acrom - Extra Bold", Arial, serif;
   font-size: 65px;
   font-weight: 400;
   line-height: 70px;
   text-transform: uppercase;
}

.squares {
   width: 18px;
   height: 18px;
   position: absolute;
   transition-property: all;
}

.rectangle-green-first {
   background-image: url("../img/Rectangle_green.png");
   bottom: 118px;
   left: 231px;
   animation: rotating 2.5s linear 1.4s infinite;
}

.rectangle-green-second {
   background-image: url("../img/Rectangle_green.png");
   bottom: 93px;
   left: 248px;
   animation: rotating 2.5s linear 1.7s infinite;
}

.rectangle-green-third {
   background-image: url("../img/Rectangle_green.png");
   top: 170px;
   right: 230px;
   animation: rotating 2.5s linear 1.2s infinite;
}

.rectangle-green-fourth {
   background-image: url("../img/Rectangle_green.png");
   bottom: 155px;
   right: 230px;
   animation: rotating 2.5s linear 1.5s infinite;
}

.rectangle-green-fifth {
   background-image: url("../img/Rectangle_green.png");
   bottom: 125px;
   right: 260px;
   animation: rotating 2.5s linear 1.7s infinite;
}

.rectangle-white-first {
   background-image: url("../img/Rectangle_white.png");
   top: 213px;
   left: 290px;
   animation: rotating 2.5s linear 1.5s infinite;
}

.rectangle-white-second {
   background-image: url("../img/Rectangle_white.png");
   bottom: 92px;
   right: 260px;
   animation: rotating 2.5s linear 1.2s infinite;
}

@keyframes rotating {
   0% {
      transform: rotateY(0deg);
   }
   50%{
      transform: rotateY(0deg);
   }
   100% {
      transform: rotateY(360deg);
   }

}

