@charset "UTF-8";
/*Обнуление стилей*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------------------------------------------------*/
@font-face {
  font-family: "Pacifico-Regular";
  src: url("../fonts/Pacifico-Regular/fonts/Pacifico-Regular.eot");
  src: local("☺"), url("../fonts/Pacifico-Regular/fonts/Pacifico-Regular.woff") format("woff"), url("../fonts/Pacifico-Regular/fonts/Pacifico-Regular.ttf") format("truetype"), url("../fonts/Pacifico-Regular/fonts/Pacifico-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Light/fonts/Raleway-Light.eot");
  src: local("☺"), url("../fonts/Raleway-Light/fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light/fonts/Raleway-Light.ttf") format("truetype"), url("../fonts/Raleway-Light/fonts/Raleway-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold/fonts/Raleway-Bold.eot");
  src: local("☺"), url("../fonts/Raleway-Bold/fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold/fonts/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway-Bold/fonts/Raleway-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-Black";
  src: url("../fonts/Raleway-Black/fonts/Raleway-Black.eot");
  src: local("☺"), url("../fonts/Raleway-Black/fonts/Raleway-Black.woff") format("woff"), url("../fonts/Raleway-Black/fonts/Raleway-Black.ttf") format("truetype"), url("../fonts/Raleway-Black/fonts/Raleway-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1530px;
  min-height: 100vh;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  /* position: absolute; */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.page .content {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.home .content {
  background-image: url("../img/main_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1 0 100%;
}

.header {
  position: absolute;
  width: 80%;
  top: 10%;
  left: 10%;
  z-index: 10;
}
.header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  width: 50%;
}

.menu__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu__link {
  font-family: "Raleway-Bold";
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  color: #262626;
}

.header__logo span {
  font-family: "Pacifico-Regular";
  font-size: 50px;
  font-weight: 400;
  color: #262626;
}

/********************************/
.links__container {
  max-width: 1500px;
  max-height: 790px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #70bfff;
}

.links__content {
  height: 68.3vh;
  width: 158vh;
  display: flex;
  justify-content: space-between;
}

.links__list {
  max-width: 400px;
  max-height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links__item {
  max-width: 400px;
  max-height: 100px;
  height: 12.7vh;
  background-color: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: start;
}

.links__descr {
  max-width: 300px;
  font-family: "Raleway-Bold";
  font-size: 16px;
  font-weight: 700;
  color: #262626;
  flex-grow: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
}

.links__descr p {
  max-width: 75%;
  margin: 0 auto;
}

.links__icon {
  max-width: 100px;
  min-width: 13vh;
  border-left: 1px solid #9d9d9d;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links__title {
  max-width: 570px;
  max-height: 530px;
  height: 67vh;
  width: 80vh;
  background-image: url("../img/img_tomato.png");
  background-size: 100% 100%;
  position: relative;
}

h1 {
  max-width: 570px;
  max-height: 70px;
  font-family: "Raleway-Bold";
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  top: 40%;
  left: -5%;
}

.icon {
  width: 55px;
  height: 55px;
}

/*******************/
.contact__container {
  max-width: 1500px;
  width: 100%;
  max-height: 866px;
  min-height: 100vh;
  margin: 0 auto;
  color: #fff;
  background-image: url("../img/contact_bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__content {
  max-width: 1000px;
  max-height: 650px;
  width: 140vh;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact__title {
  width: 340px;
  height: 65px;
  font-family: "Raleway-Bold";
  font-size: 80px;
  font-weight: 700;
  color: #262626;
  text-align: center;
}

.contact__descr {
  width: 350px;
  height: 41px;
  font-family: "Raleway-Light";
  font-size: 17px;
  font-weight: 300;
  color: #262626;
  text-align: center;
}

.contact__main {
  max-width: 990px;
  max-height: 450px;
  width: 140vh;
  height: 69.2vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact__form {
  max-width: 500px;
  max-height: 500px;
  height: 100%;
  width: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__name,
.form__email,
.form__phone {
  max-width: 500px;
  height: 50px;
  opacity: 0.5;
  background-color: #7ddfdf;
  font-family: "Raleway-Light";
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  color: #fff;
  padding: 0 20px;
}

#form__textarea {
  max-width: 500px;
  height: 30vh;
  width: 65vh;
  opacity: 0.5;
  background-color: #7ddfdf;
  font-family: "Raleway-Light";
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  color: #fff;
  padding: 0 20px;
}

input::placeholder,
textarea::placeholder {
  color: #fff;
}

input:focus,
#form__textarea:focus {
  border-left: 3px solid #355b82;
  background-color: #00c4c4;
}

.form__button {
  width: 170px;
  height: 50px;
  opacity: 0.5;
  background-color: #00c4c4;
  font-family: "Raleway-Light";
  font-size: 15px;
  color: #000;
}

.contact__info {
  max-width: 320px;
  max-height: 160px;
  width: 59vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address,
.email,
.phone {
  font-family: "Raleway-Light";
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  color: #262626;
}

.address-title,
.email-title,
.phone-title {
  font-family: "Raleway-Bold";
  font-size: 17px;
  line-height: 25px;
  font-weight: 700;
  color: #262626;
}

.footer__container {
  max-width: 1500px;
  width: 100%;
  max-height: 90px;
  height: 10.4vh;
  background-color: #262626;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__content {
  width: 77%;
  height: 30%;
  min-height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copy {
  font-family: "Raleway-Light";
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  color: #b9b9b9;
}

.footer__logo {
  font-family: "Pacifico-Regular";
  font-size: 25px;
  line-height: 25px;
  font-weight: 400;
  color: #b9b9b9;
}

.footer__link {
  font-family: "Raleway-Light";
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  color: #b9b9b9;
}

.author-link {
  font-family: "Raleway-Bold";
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  color: #ff2b58;
}